
.list-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }
  @media(min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }

}

.list-item:first-child {
  border-top: 1px solid darken($off-white, 7%);
}


.list-item__title {
  margin: 0;
  word-break: break-all;
  a {
    text-decoration: none;
    color: $dark-grey;
    &:hover {
      color: $grey;
    }
  }
} 
  
.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
  font-weight: 100;
}

